  .body {
    background-color: #bbb;
  }
  
  .container--head {
    background: #BF3E11;
  }
  
  .tooltip-carousel {
    position: absolute;
    z-index: 11;
    border-radius: 50%;
  }
  
  .caraousel-tooltip-item {
    display: none;
  }
  
  .caraousel-tooltip-item.active {
    display: block;
  }
  .carrusel{
  background: white;
  width: 700px;
  height: 400px;

  }
  .tamanoSecc{
   width:700px;
   height: 400px;

  }
  .centrar{
    width: 80%;
    margin:0px auto;
  }
  .carruselCentrar{
    margin-left: 25%;
  }